<div class="characterBuildPage">
  <form [formGroup]="form" class="characterBuildPage__form" (ngSubmit)="onSubmit()">
    <tui-input formControlName="name">
      Type a name
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
    <ng-container formGroupName="view">
      <app-carousel formControlName="hat" [itemList]="hats" [value]="form.get(['view', 'hat'])?.value"></app-carousel>
      <app-carousel formControlName="eyeColor" [itemList]="eyeColors" [value]="form.get(['view', 'eyeColor'])?.value"></app-carousel>
      <app-carousel formControlName="body" [itemList]="bodies" [value]="form.get(['view', 'body'])?.value"></app-carousel>
      <app-carousel formControlName="legs" [itemList]="legs" [value]="form.get(['view', 'legs'])?.value"></app-carousel>
      <app-carousel formControlName="foot" [itemList]="foots" [value]="form.get(['view', 'foot'])?.value"></app-carousel>
    </ng-container>
    <button [disabled]="!form.valid" type="submit">Submit</button>
    <button (click)="randomizeCharacter()">Random</button>
  </form>

  <app-character-view class="characterBuildPage__view" [view]="form.get('view')?.value"></app-character-view>
</div>

