<div class="characterCard">
  <div class="characterCard__left">
    <h3 class="characterCard__info">id: {{character.id}} </h3>
    <div class="characterCard__info">name: {{character.name}}</div>
    <div class="characterCard__controls controls">
      <a tuiLink
         routerLink="/character/{{character.id}}"
         iconAlign="left"
         icon="tuiIconSettings"
      >Customize
      </a>
      <button
        size="s"
        tuiButton
        (click)="deleteCharacter()"
      >Delete
      </button>
    </div>
  </div>
  <app-character-view [view]="character.view"></app-character-view>
</div>

