.characterCard {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  border: solid 2px #bad0d0;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  min-width: 200px;
}
.characterCard__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.characterCard__controls {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}
