<div class="menu">
  <ng-container *ngIf="isLoggedIn$ | async">
    <a class="menu__link" routerLink="/character/character-builder">
      <tui-svg
        src="tuiIconPaintLarge"
      ></tui-svg>
      Character builder
    </a>
    <a class="menu__link" routerLink="/login">
      <tui-svg
        src="tuiIconLoginLarge"
      ></tui-svg>
      Logout
    </a>
  </ng-container>

  <a class="menu__link" routerLink="/login" *ngIf="isLoggedOut$ | async">
    <tui-svg
      src="tuiIconLoginLarge"
    ></tui-svg>
    Login
  </a>
</div>
